<!DOCTYPE html>
<html>
<head>
	<title>FORMULAIRE 2</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
</head>
<body>
	<h1>FORMULAIRE FORM_TAG</h1>
	<h2>Creation d'un user </h2> <br>


	<%= form_tag url_for(action: 'create'), method: "post" do %>
      <%= label_tag 'Username' %>
      <%= text_field_tag 'username' %> <br>

      <%= label_tag 'Email' %>
      <%= text_field_tag 'email' %> <br>

      <%= label_tag 'Bio' %>
      <%= text_area_tag 'bio' %> <br>

      <%= submit_tag "Create User" %>
    <% end %>

    <br><br>
	<ul>
		<li><a href="/">ACCUEIL</a></li>
		<li><a href="/new">Formulaire N°1</a></li>
		<br>
		<li><a href="/new3">Formulaire N°3</a></li>
	</ul>

</body>
</html>