<!DOCTYPE html>
<html>
<head>
	<title>FORMULAIRE 2</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
</head>
<body>
	<ul class="nav nav-pills nav-fill">
	  <li class="nav-item">  <a class="nav-link" href="/">Accueil</a>   </li>
	  <li class="nav-item">  <a class="nav-link" href="/new">Formulaire 1</a>  </li>
	  <li class="nav-item">  <a class="nav-link active" href="/new2">Formulaire 2</a> </li>
	  <li class="nav-item">  <a class="nav-link" href="/new3">Formulaire 3</a> </li>
	</ul>

<br><br>

	<center>	
		<h1>FORMULAIRE FORM_TAG</h1>
		<h2>Creation d'un user </h2> <br>


		<%= form_tag url_for(action: 'create'), method: "post" do %>
	      <%= label_tag 'Username' %>
	      <%= text_field_tag 'username', "ex : Nancy", class: 'form-control col-sm-6' %> <br>

	      <%= label_tag 'Email' %>
	      <%= text_field_tag 'email', "ex : nancy@gmail.com", class: 'form-control col-sm-6' %> <br>

	      <%= label_tag 'Bio' %>
	      <%= text_area_tag 'bio', "ex : Je viens de Paris, je fait THP :D", class: 'form-control col-sm-6' %> <br>

	      <%= submit_tag "Create User", :class => 'btn btn-primary btn-lg'%>
	    <% end %>
	</center>


</body>
</html>