<!DOCTYPE html>
<html>
<head>
	<title>FORMULAIRE 3</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
</head>
<body>
	<ul class="nav nav-pills nav-fill">
	  <li class="nav-item">  <a class="nav-link" href="/">Accueil</a>   </li>
	  <li class="nav-item">  <a class="nav-link" href="/new">Formulaire 1</a>  </li>
	  <li class="nav-item">  <a class="nav-link" href="/new2">Formulaire 2</a> </li>
	  <li class="nav-item">  <a class="nav-link active" href="/new3">Formulaire 3</a> </li>
	</ul>

<br><br>	
	<center>
		<h1>FORMULAIRE FORM_FOR</h1>
		<h2>Creation d'un user </h2> <br>

		<%= form_for :user do |f|%>
			Username : <%= f.text_field :username, class: 'form-control col-sm-10'%> <br>
			Email : <%= f.text_field :email, class: 'form-control col-sm-10' %> <br>
			Bio : <%= f.text_area :bio, size: "12", class: 'form-control col-sm-10' %> <br>
			<%= f.submit %>
		<% end %>
	</center>


</body>
</html>